<div class='page-header'>
  <h1>
    <%= t('Listing BusCompanies') %> (<%= @bus_companies.count %>)  <small><%= @bus_company %></small>
    <div class='pull-right'>
      <%= link_to new_bus_company_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New BusCompany') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='bus_companies'>
  <thead>
  <tr>
      <th><%=t("Cnpj")%></th>
      <th><%=t("Name")%></th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @bus_companies.each do |bus_company| %>
    <tr>
        <td><%= bus_company.cnpj %></td>
        <td><%= bus_company.name %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), bus_company_path(bus_company), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_bus_company_path(bus_company), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), bus_company_path(bus_company), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @bus_companies %>