<div class='page-header'>
  <h1>
    <%= t('Buscompany Info') %>
    <div class='pull-right'>
      <%= link_to edit_bus_company_path(@bus_company), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to bus_companies_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong><%=t("Cnpj")%></strong>
      <%= @bus_company.cnpj %>
    </p>
    <p>
      <strong><%=t("Name")%></strong>
      <%= @bus_company.name %>
    </p>
  </div>
</div>
