<%= simple_form_for @student, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
<div class="form-horizontal col-sm-offset-1 col-sm-7">
  <div class="panel panel-info">
  <div class="panel-heading "><%=t("Table_student")%></div>
    <div class="panel-body">
      <div class="form-inputs">
          <%= f.simple_fields_for :person, wrapper: :horizontal_form do |person| %>
            <%= person.input :name %>
            <%= person.input :phone %>
            <%= person.input :identity %>
            <%= person.input :cpf %>
            <%= person.input :birth, as: :bootstrap_datepicker, input_html: {class: "form-control"} %>
          <% end %>
          <%= f.input :registration, as: :file, wrapper: :horizontal_form %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, class: "btn btn-info" %>
      </div>
    </div>  
  </div>
</div>     
<% end %>
