<div class="table table-responsive table-hover table-stripped' id='travels">
  <div class="well">
    <h4><%=t '.Search travels'%></h4>
      <div class="input-group">
        <%= search_form_for @q, wrapper: :horizontal_form do |f| %>
          <%= f.label :person_name_cont %>
          <%= f.search_field :person_name_cont, placeholder: 'Pesquisar por Aluno', class: "form-control" %>
          <%= f.label :person_cpf_cont %>
          <%= f.search_field :person_cpf_cont, placeholder: 'Pesquisar por Cpf', class: "form-control" %>
          <%= f.button :submit, name: "Pesquisar", class: 'btn btn-sm btn-warning', id: 'search' do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        <% end %> 
      </div>       
  </div>

<div class='page-header'>
  <h1>
    <%= t('Listing Students') %> (<%= @students.count %>)  <small><%= @student %></small>
    <div class='pull-right'>
      <%= link_to new_student_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New Student') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='students'>
  <thead>
  <tr>
      <th><%=t("Name")%></th>
      <th><%=t("Cpf")%></th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.person.name %></td>
        <td><%= student.person.cpf %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), student_path(student), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_student_path(student), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), student_path(student), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
        <%= link_to t("Image"), student.registration.url(:original, false),class: 'btn btn-sm btn-teste', id: 'image' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @students %>