<div class='page-header'>
  <h1>
    <%= t('Student Info') %>
    <div class='pull-right'>
      <%= link_to edit_student_path(@student), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to students_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong><%=t("Name")%></strong>
      <%= @student.person.name %>
    </p>
    <p>
      <strong><%=t("Phone")%></strong>
      <%= @student.person.phone %>
    </p>
    <p>
      <strong><%=t("Identity")%></strong>
      <%= @student.person.identity %>
    </p>
    <p>
      <strong><%=t("Cpf")%></strong>
      <%= @student.person.cpf %>
    </p>
    <p>
      <strong><%=t("Birth")%></strong>
      <%= @student.person.birth %>
    </p>
    <p>
      <strong><%=t("Registration")%></strong>
        <%= link_to image_tag(@student.registration.url(:small)),
         @student.registration.url(:original) %>
        <p>
    </p>
  </div>
</div>