<%= simple_form_for @event, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
<div class="form-horizontal col-sm-offset-1 col-sm-7">
  <div class="panel panel-info">
  <div class="panel-heading "><%=t("Table_event")%></div>
    <div class="panel-body">
      <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :day, as: :bootstrap_datepicker, input_html: {class: "form-control"} %>
          <%= f.input :description %>
          <%= f.association :travel %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, class: "btn btn-info" %>
      </div>
    </div>  
  </div>
</div>     
<% end %>
