<div class='page-header'>
  <h1>
    <%= t('Vehicle Info') %>
    <div class='pull-right'>
      <%= link_to edit_vehicle_path(@vehicle), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to vehicles_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong><%=t("Seat")%></strong>
      <%= @vehicle.seat %>
    </p>
    <p>
      <strong><%=t("Number")%></strong>
      <%= @vehicle.order_number %>
    </p>
    <p>
      <strong><%=t("Price")%></strong>
      <%= @vehicle.price %>
    </p>
  </div>
</div>
