<div class='page-header'>
  <h1>
    <%%= t('Listing <%= class_name.pluralize %>') %> (<%%= @count_<%= plural_table_name %> %>)  <small><%%= @<%= singular_table_name %> %></small>
    <div class='pull-right'>
      <%%= link_to new_<%= singular_table_name %>_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%%= t('New <%= class_name %>') %>
      <%% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='<%= plural_table_name %>'>
  <thead>
  <tr>
    <%- attributes.each do |attribute| -%>
      <th><%= attribute.name.camelize %></th>
    <%- end -%>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
      <%- attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
      <%- end -%>
      <td class='actions text-center'>
        <%%= link_to t('Show'), <%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-sm btn-info' %>
        <%%= link_to t('Edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-sm btn-warning' %>
        <%%= link_to t('Destroy'), <%= singular_table_name %>_path(<%= singular_table_name %>), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <%% end %>
  </tbody>
</table>
<!--%%= paginate @<%= plural_table_name %> %-->