<div class="table table-responsive table-hover table-stripped' id='travels">
  <div class="well">
    <h4><%=t '.Search travels'%></h4>
      <div class="input-group">
        <%= search_form_for @q, wrapper: :horizontal_form do |f| %>
          <%= f.label :name_cont %>
          <%= f.search_field :name_cont, placeholder: 'Pesquisar por viagem', class: "form-control" %>
          <%= f.label :day_cont %>
          <%= f.search_field :day_cont, placeholder: 'Pesquisar por data', class: "form-control" %>
          <%= f.button :submit, name: "Pesquisar", class: 'btn btn-sm btn-warning', id: 'search' do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        <% end %> 
      </div>       
  </div>

  <div class='page-header table table-responsive table-hover table-stripped' >
    <h1>
      <%= t('Listing Travels') %> (<%= @travels.count %>)  <small><%= @travel %></small>
      <div class='pull-right'>
        <%= link_to new_travel_path(), class: 'btn btn-info' do %>
          <i class='glyphicon glyphicon-plus'></i> <%= t('New Travel') %>
        <% end %>
      </div>
    </h1>
  </div>

  <table class='table table-responsive table-hover table-stripped' id='travels'>
    <thead>
    <tr>
        <th><%=t("Name")%></th>
        <th><%=t("Day")%></th>
      <th></th>
    </tr>

    </thead>

    <tbody>
      <% @travels.each do |travel| %>
      <tr>
          <td><%= travel.name %></td>
          <td><%= travel.day %></td>
        <td class='actions text-center'>
          <%= link_to t('Show'), travel_path(travel), class: 'btn btn-sm btn-info' %>
          <%= link_to t('Edit'), edit_travel_path(travel), class: 'btn btn-sm btn-warning' %>
          <%= link_to t('Destroy'), travel_path(travel), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @travels %>